Neural Networks From Scratch/.ipynb_checkpoints
Neural Networks From Scratch/__pycache__
Improving Deep Neural Networks/.ipynb_checkpoints
Improving Deep Neural Networks/__pycache__
Convolutional NN/.ipynb_checkpoints
Convolutional NN/__pycache__